spring:
  application:
    name: dailyfeed-search
  data:
    mongodb:
      protocol: mongodb # mongodb+srv or mongodb (atlas 에서만 mongodb+srv)
      uri: ${MONGODB_CONNECTION_URI:mongodb://localhost:27017/dailyfeed?directConnection=true}
app:
  dailyfeed-search:
    mongodb:
      database: dailyfeed
server:
  port: ${SERVER_PORT:8083}